<header class="masthead">
    <h1 class="masthead-heading">Tweetful</h1>
    <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
    <section class="info">
        <header>
            <h2>About Tweetful</h2>
        </header>
        <p>Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis interdum.
        </p>
    </section>

    <section class="info">
        <header>
            <h2>What Makes Us Different</h2>
        </header>
        <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Sed posuere consecdtetur est at labortis.</p>
    </section>

    <section class="info">
        <header>
            <h2>Company History</h2>
        </header>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla set consectetur. Morbi leo risus, porta ac</p>
    </section>
</div>

<footer class="footer-contact">
    <p>Contact us: <span>admin@tweetful.io</span></p>
</footer>

