<header class="masthead">
    <h1 class="masthead-heading">Tweetful</h1>
    <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<div class="info-container">
    <section class="info">
        <header>
            <h2>Peter Lonestar</h2>
            <h3>Founder</h3>
        </header>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Integer poseure erat a ante venenatis dapibus poseure velit aliquet. Donec ullamcorper</p>
    </section>

    <section class="info">
        <header>
            <h2>Bill Billerson</h2>
            <h3>CFO</h3>
        </header>
        <p>Cras mattis consectetur purus sit amet fermentum. Donec sed odio dui. Set poseure consectetur est at labortis.</p>
    </section>

    <section class="info">
        <header>
            <h2>You!</h2>
            <h3>CTO</h3>
        </header>
        <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor acutor. Aenean lacinia bibendum nulla set consectetur. Morbi leo risus, pora ac</p>
    </section>
</div>

<footer class="footer-contact">
    <p>Contact us: <span>admin@tweetful.io</span></p>
</footer>

